/* Predefinções Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primaria:#2D3436;
    --secundaria: #FBFAF8;
    --terciaria: #DFE6E9;
    --destaque01:#354D5C;
    --destaque02:#DFF5FF;
    --destaque03: #FFFFFF;
    --destaque04: #000000;
    --okColor: #135713;
    --atentionColor: #785006;
    --alertColor: #8F1D1E;
}

main {
    background-color: var(--secundaria);
    padding-bottom: 5rem;
}

/* Elementos Reutilizaveis */
.primaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.5rem;
    height: 3.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--destaque01);
    color: var(--destaque03);
    font-size: 26px;
    font-family: "Montserrat";
    font-weight: 600;
    transition: 0.9s;
    filter: drop-shadow(0px 0px 2px var(--destaque04));
    cursor: pointer;
    text-decoration: none;
}

.primaryButton:hover {
    background-color: var(--primaria);
}

.titleHome {
    font-size: 48px;
    font-family: "Montserrat";
    color: var(--primaria);
}

.titlePages {
    font-size: 28px;
    font-family: "Montserrat";
    color: var(--primaria);
}

.textHome {
    width: 100%;
    text-align: start;
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 400;
}

.subTextHome {
    width: 100%;
    text-align: start;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 400;
}

.itemInfo {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: var(--primaria);
}

.articlesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.breadCrumb {
    display: flex;
    align-items: start;
    width: 90%;
    padding: 1rem 0;
    font-size: 18px;
    color: var(--primaria);
    font-family: "Montserrat";
}

.breadCrumb ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.breadCrumb li {
    transition: 1s;
}

.breadCrumb li:hover {
    transform: scale(1.05);
}

.breadCrumb a {
    text-decoration: none;
    color: var(--primaria);
}

.productItem {
    display: flex;
    gap: 1rem;
}

form input, select, textarea {
    width: 100%;
    padding: 1rem;
    border-style: none;
    border: solid 1px var(--primaria);
    border-radius: 0.3rem;
    font-size: 18px;
    background-color: var(--destaque03);
    font-family: "Montserrat";
    resize: none;
}

/* ABA DE NAVEGAÇÃO */
.navBar {
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    height: 8rem;    
    background-color: var(--primaria);
    padding-left: 2rem;
    padding-right: 2rem;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0.2rem;
    margin: 0;
}

.searchBar {
    display: flex;
    width: 35rem;
    height: 2.7rem;
}

.searchBar input {
    width: 100%;
    height: 3rem;
    padding: 0.9rem;
    border-radius: 0.2rem 0 0 0.2rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Montserrat";
}

.searchBar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3rem;
    background-color: var(--terciaria);
    cursor: pointer;
    border-radius: 0 0.2rem 0.2rem 0;
    border: none;
}

.navIcons {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navIcons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    color: var(--destaque03);
    font-family: "Montserrat";
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}

.navIcons a img {
    width: 3.5rem; 
    height: 3.5rem;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    background-color: var(--primaria);
    padding: 3rem;
}

.footerLine {
    opacity: 25%;
    width: 85%;
    height: 1px;
    border: none;
    background-color: var(--secundaria);
}

.newsLetter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secundaria);
    font-family: "Montserrat";
    text-align: center;
    gap: 1rem;
    margin: 1rem;
}

.newsLetter h3 {
    font-size: 30px;
}

.newsLetter p {
    max-width: 80%;
    font-size: 20px;
    color: var(--secundaria);
}

.formNewsLetter {
    position: relative;
    width: 27rem;
    height: 4rem;
}

.formNewsLetter input {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    font-size: 18px;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-family: "Montserrat";
}

.formNewsLetter a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--destaque01);
    top: 50%;
    right: 1rem; 
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: 2s;
}

.formNewsLetter a:hover {
    background-color: var(--primaria);
}


.linksFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
    gap: 12rem;
    font-family: "Montserrat";
}

.links h4 { 
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--secundaria);
    font-weight: 600;
}

.productsLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style-type: none;
}

.links a {
    opacity: 90%;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: var(--secundaria);
}

.links a:hover {
    color: var(--destaque02);
    text-decoration: underline;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    font-family: "Montserrat";
}

.copyright ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

.copyright a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: var(--secundaria);
    transition: 1s;
}

.copyright li {
    transition: 1s;
}

.copyright li:hover {
    transform: scale(1.03);
}

.copyright h3 {
    font-size: 17px;
    color: var(--secundaria);
    font-weight: 500;
}

/* TELA HOME */
/* Header */
.firstBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48rem;
    background-color: var(--terciaria);
    color: var(--primaria);
    
}

.firstBanner .conteiner {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem 0rem 4rem 4rem;
    gap: 20rem;
}

.firstBanner .conteiner div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.titleFirstBanner {
    font-size: 52px;
    font-family: "Montserrat";
    font-weight: 600;
    max-width: 70%;
}

/* Seção Top Acordes */
.topAcordes {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
}

.productLine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.bigProductCard {
    width: 27rem;
    height: 42rem;
    border-radius: 2px;
    background-color: var(--terciaria);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: inset 0 0 12px var(--primaria);
    text-decoration: none;
}

.bigProductCard:hover {
    transform: translateY(-5px);
}

.bigProductCard figure {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 27rem;
    height: 42rem;
    gap: 1rem;
}

.bigProductCard img {
    align-self: center;
    max-width: 48%;
    max-height: auto;
}

.bigProductCard h3 {
    padding: 1.5rem;
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 600;
    color: var(--destaque01);
}


/* Seção Trilha de Inverno */
.secondBanner {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.secondBanner article {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
}

.textSecondBanner {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 400;
    max-width: 85%;
}

/* Categorias */
.category {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 3rem;
    gap: 1rem;
}

.categoryLine {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.categoryLine a {
    max-width: 90%;
    background-color: var(--primaria);
    border-radius: 1.5rem;
    transition: 1s;
    position: relative;
    cursor: pointer;
}

.categoryLine a:hover {
    transform: scale(1.03);
}


.categoryLine img {
    max-width: 100%;
    opacity: 55%;
    border-radius: 1.5rem;
}

.categoryLine h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: 1;
    color: var(--destaque03);
    font-size: 52px;
    font-family: "Montserrat";
    font-weight: 500;
}

/* Sobre a Virtuose */
.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    height: 54rem;
    background: url('src/telaHome/aboutUs.png'); 
    color: var(--secundaria);
}

.aboutUs article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 58.5rem;
    height: 35rem;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: var(--primaria);
}

.titleAboutUs {
    font-size: 48px;
    font-family: "Montserrat";
    text-align: center;
    max-width: 60%;
}

.textAboutUs {
    font-size: 28px;
    font-family: "Montserrat";
    text-align: center;
    font-weight: 400;
    max-width: 70%;
    color: var(--terciaria);
}

.buttonAboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.5rem;
    height: 3.5rem;
    padding: 0.5rem 4.5rem 0.5rem 4.5rem;
    border-radius: 0.5rem;
    background-color: var(--destaque02);
    color: var(--primaria);
    font-size: 26px;
    font-family: "Montserrat";
    font-weight: 600;
    transition: 0.9s;
    filter: drop-shadow(0px 0px 2px var(--destaque03));
    cursor: pointer;
    text-decoration: none;
}

.buttonAboutUs:hover {
    background-color: var(--terciaria);
}

/* Vantagens */
.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 3rem;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.advantage p {
    font-weight: 500;
    max-width: 40%;
    color: var(--primaria);
    font-family: "Montserrat";
    font-size: 20px;
    text-align: center;
}

/* TELA DE PRODUTOS */
.sectionProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    gap: 1rem;
}

.banner {
    width: 90%;
    margin-top: 4rem;
}

.gapLine {
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 75%;
    width: 92%;
    height: 1px;
    border: none;
    background-color: var(--primaria);
}

.gapLineProduct {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    opacity: 40%;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--primaria);
}

.sectionTitle {
    font-size: 44px;
    font-weight: bold;
    color: var(--destaque01);
}

.categoryTitle {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 48px;
    font-weight: bold;
    color: var(--destaque01);
}

.productSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
}

.productCard {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: var(--terciaria);
    border: 1px solid var(--destaque01);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    color: var(--destaque01);
    box-shadow: inset 0rem 0rem 8px 0px var(--destaque04);
    transition: 0.8s;
    text-decoration: none;
}

.productCard:hover {
    transform: scale(1.03);
}

.productImage {
    align-self: center;
    object-fit: contain;
    margin: 1rem;
    max-width: 12rem;
    max-height: 12rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0px 5px 5px var(--destaque04));
}

#kitUkulele {
    padding-top: 3rem;
}

#tecladoYamaha {
    padding-top: 7rem;
}

#gaitaFender {
    padding-top: 5rem;
}

#caseGlass {
    padding-top: 5rem;
}

.productName {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.star {
    width: 40%;
}

.productsPrice {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
}

/* TELA PRODUTO INDIVIDUAL */
.mainProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.productDisplay {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1rem;
}

/* Imagens do Produto */
.productImages {
    display: flex;
    flex: row;
    gap: 2rem;
}

.asideImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.asideImages button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--terciaria);
    border-radius: 0.4rem;
    border: solid 1px var(--destaque01);
    transition: 1s;
    cursor: pointer;
}

.asideImages button:hover {
    transform: scale(1.02);
}

.asideImages img {
    padding: 1rem;
    max-width: 110%;
}

#guitarBack {
    rotate: 140deg;
}

#guitarHead {
    rotate: 120deg;
}

#bassFront {
    scale: 0.80;
}

#bassBack {
    rotate: 140deg;
}

#bassHead {
    scale: 0.60;
    rotate: 80deg;
}

#ukuleleFront {
    scale: 0.9;
}

#ukuleleBack {
    rotate: 140deg;
}

.mainImage button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42rem;
    height: 42rem;
    background-color: var(--terciaria);
    border-radius: 5px;
    border: solid 1px var(--destaque01);
}

.mainImage img {
    rotate: 45deg;
    max-width: 40%;
}

/* Informação do Produto */
.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    font-family: "Montserrat";
    color: var(--primaria);
}

.productInfo h1 {
    font-size: 48px;
    font-weight: bold;
}

.reviewProduct {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.7rem;
    height: 2rem}

.reviewProduct img{
    scale: 1.05;
}

.reviewQtd {
    font-size: 16px;
    text-decoration: none;
    color: var(--primaria);
}

.price {
    text-align: start;
    font-size: 36px;
    font-weight: 600;
}

.stockStatus {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: var(--goodColor);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 85%;
}

.description h2 {
    font-size: 26px;
    font-weight: 600;
}

.description p {
    text-align: start;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
}

.colorsSection {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin: 1rem 0;
}

.colorsTitle {
    text-align: start;
    font-size: 22px;
    font-weight: 600;
}

.colorOptions {
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    gap: 1.5rem;
}

.colorOption {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 3px solid transparent; 
    cursor: pointer;
    transition: 1s;
}

.colorOption:hover {
    transform: translateY(-4px);
}


/* Cores utilizadas na parte de produto, não são usadas no root por conta de serem utilizadas somente uma vez */
.firstColorOption {
    background-color: #EADBC8;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--primaria);
}

.secondColorOption {
    background-color: #5D4037;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}

.thirdColorOption {
    background-color: orange;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}

.colorsBass .firstColorOption {
    background-color: #2B1D0D;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--primaria);
}

.colorsBass .secondColorOption {
    background-color: #0F5A89;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}

.colorsBass .thirdColorOption {
    background-color: #AC1510;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}

.ukuleleColors .firstColorOption {
    background-color: #A93D00;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--primaria);
}

.ukuleleColors .secondColorOption {
    background-color: #664219;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}

.ukuleleColors .thirdColorOption {
    background-color: #B5A35C;
    box-shadow: 0 0 0 7px var(--secundaria), 0 0 0 9px var(--terciaria);
}


.quantitySelector {
    display: flex;
    align-items: center;
    max-width: 11rem;
    gap: 0.5rem;
}

.quantitySelector label{
    font-weight: 600;
}

#quantityInput {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: solid 1px var(--primaria);
    font-size: 16px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
}

.actions .primaryButton {
    position: relative;
    right: 5.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.addFavorites {
    position: relative;
    left: 22.2rem;
    padding: 0.6rem;
    background: var(--destaque03);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
    justify-content: center;
    filter: drop-shadow(1px 0px 1px var(--destaque04));
    border-left: none;
    border:  solid 2px var(--primaria);
}

/* Detalhes do Produto */
.productDetails {
    width: 90%;
    margin-top: 2rem;
    border-top: 1px solid var(--primaria);
    display: flex;
    gap: 3rem;
    font-family: "Montserrat";
}

.specifications, .customerReviews {
    flex: 1;
}

/* Caracteristicas do Produto */
.productDetails h2 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.specifications table {
    width: 100%;
    font-size: 16px;
}

.specifications td {
    padding: 1rem;
    border-bottom: solid 1px var(--terciaria);
}

.specifications tr:nth-child(even) {
    background-color: var(--secundaria);
}

.specifications td:first-child {
    font-weight: 600;
    color: var(--primaria);
    width: 30%;
}


/* Avaliações do Produto */
.review {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1.5rem 1rem;
    border: 1px solid var(--destaque01);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.reviewName {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
} 

.reviewText {
    text-align: start;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.moreReviews {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3.4rem;
    background-color: transparent;
    border: 2px solid var(--destaque01);
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Montserrat";
    transition: 1.5s;
}

.moreReviews:hover {
    font-size: 17px;
    background-color: var(--terciaria);
}

/* Produtos Relacionados */
.otherProducts {
    width: 90%;
    margin-top: 4rem;
    padding: 2rem;
    border-top: 1px solid var(--destaque01);
    font-family: "Montserrat";
    color: var(--primaria);
}

.otherProducts h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

.otherProductsGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.otherProductsCard {
    color: var(--primaria);
    border: 1px solid var(--destaque01);
    background-color: var(--destaque03);
    border-radius: 0.8rem;
    height: 17rem;
    overflow: hidden;
    text-decoration: none;
    transition: 0.4s;
}

.otherProductsCard:hover {
    box-shadow: 0 0 8px var(--destaque01);
}

.otherProductImage {    
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    max-width: 100%;
    max-height: 12rem;
    background-color: var(--terciaria);
    padding: 2rem;
}

#ukuleleHarisson {
    max-width: 20%;
}

.otherProductImage img {
    rotate: 60deg;
    max-width: 50%;
    filter: drop-shadow(0px 5px 5px var(--destaque04));
}

.otherProductsCard h3 {
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    font-size: 20px;
    font-weight: 500;
}

.otherProductsCard p {
    padding: 0 1rem 0.5rem 0.8rem;
    font-size: 20px;
    font-weight: 600;
}

/* TELA DE CARRINHO*/
.mainCart {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    max-width: 100%;
    background-color: var(--secundaria);
}

.shoppingCart {
    background-color: var(--terciaria);
    padding: 3rem;
    border-radius: 0.5rem;
}

.cartItem {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--secundaria);
}

.conteinerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 12rem;
    height: 12rem;
    border: 1px solid var(--destaque01);
    border-radius: 0.4rem;
    background-color: var(--terciaria);
}

.cartItem .conteinerImage {
    padding: 0;
    width: 12rem;
    height: 12rem;
}

.productImageCart {
    rotate: 45deg;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: 1rem;
}

.itemControls {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 100%;
    font-size: 18px;
    font-family: "Montserrat";
}

.itemControls ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.qtdSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1.8rem;
    border-radius: 0.2rem;
    background-color: var(--primaria);
    color: var(--secundaria);
}

.qtdSelector p {
    font-size: 20px;
    color: var(--secundaria);
    cursor: default;
}

.qtdSelector button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: var(--secundaria);
    font-size: 20px;
}

.itemActions li:hover{
    transform: scale(1.05);
    text-decoration: none;
    color: var(--destaque01);
    font-weight: 600;
    transition: 1s ease-in-out;
}

.itemActions li a{
    text-decoration: none;
    color: var(--destaque01);
    font-weight: 600;
}

.orderSummary {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    color: var(--primaria);
    background-color: var(--destaque03);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0px 12px var(--destaque04);
    gap: 1.5rem;
}

.orderSummary div h3 {
    font-size: 22px;
    font-weight: 600;
}

.subtotalPrice {
    text-align: end;
    font-size: 22px;
    font-weight: 600;
}

.orderSummary hr {
    width: 100%;
    color: var(--primaria);
}

.mainCheckOut .conteinerImage{
    height: 8rem;
}

.mainCheckOut .conteinerImage img{
    object-fit: contain;
    width: 1000%;
    height: 100%;
}
/* TELA DE FINALIZAÇÃO DE COMPRA*/
/* Dados da compra */
.mainCheckOut {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.mainCheckOut .formSection{
    align-items: flex-start;
}

.dateCheckOut {
    display: flex;
    flex-direction: column;
    background-color: var(--terciaria);
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.dateCheckOut label{
    font-size: 20px;
}

.dateCheckOut hr {
    opacity: 50%;
    width: 95%;
    height: 1px;
    border: none;
    background-color: var(--primaria);
}

.dateCheckOut .formSection form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    gap: 1rem;
}

.paymentOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    gap: 1rem;
    background-color: var(--destaque03);
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px var(--destaque01);
    transition: border-color 0.2s;
}

.paymentOption input {
    width: 1.8rem;
    height: 1.8rem;
}

.mainCheckOut .paymentOption label {
    margin: 0rem;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    gap: 1rem;
}

.subtextCheckOut {
    text-align: start;
    width: 95%;
    font-size: 20px;
    font-weight: 500;
}

/* Resumo da Compra */
.mainCheckOut .orderSummary {
    gap: 1.3rem;
}   

.mainCheckOut .orderSummary h2{
    font-size: 34px;
} 

.mainCheckOut .cartItem {
    margin-top: 0rem;
    padding: 0.5rem;
    width: 39rem;
    gap: 1rem;
    border-top: 1px solid var(--secundaria);
}

.mainCheckOut .cartItem .itemDetails{
    width: 100%;
    gap: 0.5rem;
}

.itemDetails p {
    font-size: 22px;
    text-align: start;
}
.mainCheckOut .conteinerImage {
    width: 10em;
}

.mainCheckOut .orderSummary h3, 
.mainCheckOut .orderSummary .itemDetails {
    font-size: 22px;
    font-weight: 700;
}

.qtdCheckOut {
    font-size: 22px;
    font-weight: 500;
}

.summaryTotals {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.summaryRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summaryRow p {
    font-size: 22px;
    font-weight: 500;
}

#totalRow p{
    margin-top: 2rem;
    font-size: 26px;
    font-weight: 600;
}

/* LOGIN E CADASTRO */
.bodyLoginSingUp {
    overflow: hidden;
}

.mainLoginSingUp {
    display: flex;
    flex-direction: row;
    background-color: var(--secundaria);
}

.mainLoginSingUp .primaryButton {
    margin-top: 1rem;
}

.imageSection {
    width: 100%;
    overflow: hidden;
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Montserrat";
    padding: 2rem;
    color: var(--primaria);
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.formSection header {
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.formSection h2 {
    font-size: 34px;
}

.formSection form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    gap: 0.3rem;
}

form label {
    align-self: flex-start;
    font-weight: 600;
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.forgotPassword {
    text-align: end;
    width: 100%;
    font-weight: 500;
    margin-bottom: 1rem;
}

.forgotPassword a {
    font-size: 18px;
    text-decoration: none;
    color: var(--primaria);
}

.forgotPassword a:hover {
    text-decoration: underline;
}

.signUp {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.signUp a {
    color: var(--destaque01);
    cursor: pointer;
    text-decoration: none;
}

.signUp a:hover {
    text-decoration: underline;
}

/* Exclusivo tela de cadastro */
.otherInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem;
    padding: 1.5rem;
    width: 31rem;
    height: 4rem;
    background-color: var(--primaria);
    color: var(--secundaria);
    border-radius: 0.5rem;
}

.otherInputs h3 {
    font-size: 20px;
    font-weight: 600;
}

.otherInputs a {
    text-align: center;
    background-color: var(--secundaria);
    color: var(--destaque01);
    border-radius: 0.4rem;
    padding: 0.4rem;
    width: 8rem;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

/* Exclusivo tela de cadastro de endereço */
.formGroup {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 2rem;
}

.dateCheckOut .formGroup form {
    gap: 0.2rem;
}

.imageSectionSingUpAdress {
    width: 40%;
}

/* TELA DE PERFIL */
.mainAccount {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0;
    padding: 4rem 2rem;
    font-family: "Montserrat";
}

.userProfile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.userAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--destaque02);
    border: solid 3px var(--primaria);
    font-size: 42px;
    font-weight: 600;
    color: var(--primaria);
}

.userInfo h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.userInfo p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.userInfo a {
    display: flex;
    align-items: center;
    color: var(--alertColor);
    font-size: 20px;
    font-weight: 600;
    gap: 0.5rem;
    text-decoration: none
}

.userInfo a img {
    width: 1rem;
    height: 1rem;
}

.accountGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.userActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.userDashboard {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.userDashboard .orderSummary{
    align-items: start;
    margin: 0rem;
    padding: 1rem;
    width: 28rem;
    gap: 1rem;
}

.userDashboard .orderSummary h3{
    font-size: 28px;
    font-weight: 600;
    padding: 0rem;
}

.userDashboard .productItem{    
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.8rem 0;
    border-top: solid 1px var(--terciaria);
    border-bottom: solid 1px var(--terciaria);
}

.userDashboard .productItem .conteinerImage{  
    align-items: center;
    justify-content: center;  
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    object-fit: contain;
} 

.userDashboard .productItem .productImage {
    width: 95%;
    height: 95%;
}

#guitarCalifornia, #guitarraToublemaker {
    margin: 34rem;
    rotate: 50deg;
}

.userDashboard .productItem h4{
    font-size: 22px;
    font-weight: 600;
    padding: 0rem;
}

.optionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 11rem;
    opacity: 85%;
    background-color: var(--destaque03);
    border: solid 1 var(--terciaria);
    box-shadow: inset 0 0 9px var(--destaque04);
    border-radius: 0.5rem;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: var(--primaria);
}

.optionCard:hover {
    transform: translateY(-5px);
}

.optionCard img {   
    scale: 1.3;
}

.optionCard img {
    width: 2rem;
    height: 2rem;
}

.optionCard h3 {
    margin-top: 0.5rem;
    font-weight: 550;
    font-size: 22px;
}

.optionCard p {
    text-align: start;
    width: 8;
    font-weight: 500;
    font-size: 18px;
}

.statusProduct {
    font-weight: 600;
    text-align: start;
    font-size: 20px;
    color: var(--atentionColor);
}

.accountLinks {
    align-self: center;
    color: var(--destaque01);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.accountLinks:hover {
    text-decoration: underline;
}

.accountPrice {
    text-align: start;
    width: 100%;
    font-weight: 600;
    color: var(--destaque01);
    font-size: 22px;
}

/* Elementos usados nas telas de configurações */
.mainAccountSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}

.mainAccountSettings .breadCrumb {
    width: 43%;
    padding: 0rem;
}

.mainAccountSettings .gapLine {
    width: 100%;
}

.accountSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.titleAccountSettings {
    align-self: flex-start;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 600;
    color: var(--primaria);
}

/* TELA DE PERFIL - DADOS DA CONTA*/
.dataField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 6rem;
    background-color: var(--destaque03);
    border: solid 1px var(--primaria);
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    font-family: "Montserrat";
}

.fieldLabel {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0.2rem;
    color: var(--primaria);
}

.fieldValue {
    font-weight: 500;
    font-size: 18px;
    color: var(--primaria);
}

.accountDetailsButton {
    background-color: var(--primaria);
    color: var(--secundaria);
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.accountDetailsButton:hover {
    background-color: var(--destaque01);
    transform: scale(1.04);
}

/* TELA DE PERFIL - SEUS PEDIDOS */
.accountSection .primaryButton {
    width: 15rem;
    height: 3rem;
    font-size: 18px;
}

.dataOrderField {
    display: flex;
    flex-direction: column;
}

.dataOrderField .dataField {
    background-color: var(--terciaria);
    border-radius: 0.5rem 0.5rem 0 0;
}

.dataOrderField .conteinerImage img{
    rotate: 50deg;
}

.footerDataField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 16rem;
    margin-bottom: 1rem;
    background-color: var(--destaque03);
    border: solid 1px var(--primaria);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem 1rem 0 1rem;
    font-family: "Montserrat";
}

.firstHalf .productItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
} 

.firstHalf .productItem .productInfo .fieldValue{
    color: var(--destaque01);
    cursor: pointer;
} 

.firstHalf .productItem .productInfo .fieldValue:hover {
    text-decoration: underline;
} 

.accountSection .conteinerImage {
    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
}

.accountSection .productImage {
    height: 8rem;
    width: 8rem;
}

.secondHalf {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.secondHalf .fieldValue {
    text-align: end;
    margin-bottom: 0.4rem;
}

.settingsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 2rem;
    text-decoration: none;
    font-size: 18px;
    padding: 1.4rem;
    background-color: var(--destaque02);
    font-weight: 600;
    border-radius: 0.5rem;
    border: solid 1px var(--primaria);
    color: var(--primaria);
    transition: 1s;
    cursor: pointer;
}

.settingsButton:hover {
    transform: scale(1.03);
}

/* TELA DE PERFIL - RASTREAR PRODUTO */
.dataFieldTrack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    height: 13rem;
    border: solid 1px var(--primaria);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Montserrat";
    box-shadow: inset 0px 0px 5px var(--destaque04);
}

.dataFieldTrack .conteinerImage {
    margin: 0;
}

.dataFieldTrack .conteinerImage img{
    rotate: 50deg;
}

.mainAccountSettings .orderSummary {
    flex-direction: row;
    width: 50rem;
    margin-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.mainAccountSettings .orderSummary article{
    align-self: flex-start;
}

/* Time Line */
.timeline {
    list-style: none; 
    position: relative; 
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0.5rem; 
    bottom: 0.5rem;
    left: 0.48rem;
    width: 0.1rem;
    background-color: var(--destaque01);
}

.timelineItem {
    position: relative; 
    padding-left: 2rem; 
    margin-bottom: 2rem; 
}

.timelineItem:last-child {
    margin-bottom: 0;
}

.timelineItem::before {
    position: absolute;
    content: '';
    top: 0.5rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color:var(--destaque01);
}

.timelineContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
}

.timelineTitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--primaria);
}

.timelineDescription {
    font-size: 16px;
    color: var(--destaque01);
}

.timelineDate {
    font-size: 15px;
    color: var(--destaque01);
}

/* TELA DE PERFIL - SEUS ENDEREÇOS */
.accountSectionAddress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.accountSectionAddress .dataField {
    height: 10rem;
    padding: 1.5rem;
}

.accountSectionAddress .primaryButton {
    width: 19rem;
    height: 3rem;
    font-size: 18px;
}

.actionsAddress {
    display: flex;
    gap: 2.5rem;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: var(--destaque01);
    cursor: pointer;
}

.actionsAddress a {
    transition: 1s;
}

.actionsAddress a:hover {
    transform: scale(1.03);
}

.actionsAddress a:last-child {
    color: var(--alertColor);
}

/* TELA DE PERFIL - PRIVACIDADE */
.accountSectionPrivacy .dataField {
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: auto;
    padding: 2rem;
    margin-bottom: 1rem;
}

.accountSectionPrivacy .fieldInfo {
    width: 100%;
    color: var(--primaria);
}

.accountSectionPrivacy .fieldInfo h2 {
    font-size: 26px;
    font-weight: 600;
}

.accountSectionPrivacy .fieldInfo .fieldValue {
    color: var(--destaque01);
}

.infoPrivacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accountSectionPrivacy .settingsButton {
    margin-top: 1rem;
}

.fieldInfo a:last-child {
    color: var(--secundaria);
    background-color: var(--alertColor);
}


/* Botão de Seleção */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 4.2rem;
    height: 2.2rem;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--terciaria);
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.3rem;
    bottom: 0.35rem;
    background-color: var(--destaque03);
    transition: .2s;
    border-radius: 50%;
    box-shadow: 0 0 1px var(--destaque04);
}

.toggleSwitch input:checked + .slider {
    background-color: var(--destaque01);
}

.toggleSwitch input:checked + .slider:before {
    transform: translateX(2rem);
}

.seePolitics {
    width: 100%;
}

.seePolitics summary {
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    font-size: 22px;
    color: var(--primaria);
}

.seePolitics summary::before {
    content: '>';
    margin-right: 0.5em;
    display: inline-block;
}

.seePolitics h4 {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--terciaria);
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size:  20px;
    color: var(--primaria);
}

.seePolitics p {
    font-size: 18px;
}

/* TELA SOBRE NÓS */
.mainAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 3rem;
    color: var(--primaria);
    font-family: "Montserrat";
}

.textContainer h2, .serviceSection h2{
    font-size: 48px;
    font-weight: 600;
}

.textContainer p{
    font-size: 26px;
    font-weight: 400;
    text-align: start;  
    color: var(--primaria);
    width: 67%;
}

/* Seção Quem Somos Nós */
.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    gap: 7rem;
    padding: 2rem;
}

.headerSection img {
    scale: 2;
    margin-top: 9rem;
}

.howWeAre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.howWeAre h1,.howWeAre p{
    text-align: center;
    color: var(--primaria);
    font-family: "Montserrat";  
    font-size: 52px;
    font-weight: 600;
    gap: 0.5rem;
    width: 60%;
}

.howWeAre p {
    font-size: 26px;
    font-weight: 500; 
}

/* Seção Nossa Missão */
.missionSection {
    display: flex;
    align-self: flex-start;
    align-items: center;
    background-color: var(--terciaria);
    padding: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 90%;
}

.visionSection {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--destaque01);
    width: 90%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.visionSection .textContainer p, .visionSection .textContainer h2{
    color: var(--destaque03);
}

.visionSection .imageContainer {
    display: flex;
}

/* Seção Nossos Valores */
.valuesSection {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    background-color: var(--terciaria);
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 5rem;
}

.valuesSection .imageContainer {
    display: flex;
}

.valuesList {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    width: 70%;
}

.valuesList dt{
    font-weight: 600;
}

.valuesList dd{
    margin-bottom: 1rem;
}

/* Seção de Atendimento */
.serviceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    padding: 5rem;
    gap: 2rem;
    color: var(--destaque03);
    font-family: "Montserrat";
    background-color: var(--destaque01);
}

.serviceSection p {
    width: 36%;
    text-align: center;
    font-size: 26px;
    height: 500;
    margin-bottom: 1rem;
}

/* TELA DE ATENDIMENTO */
.mainCallCenter {
    padding: 0;
}

.mainCallCenter .headerSection {
    height: 28rem;
    background-color: var(--terciaria);
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    padding: 4rem;
    gap: 5rem;
}

.contactSection .orderSummary:first-child {
    width: 60rem;
    gap: 0;
}

.contactSection .orderSummary:last-child {
    align-items: start;
    width: 30rem;
    gap: 0;
}

.contactSection .orderSummary:first-child .titlePages {
    align-self: flex-start;
}

.mainCallCenter .formSection {
    padding: 1rem;
    gap: 0rem;
}

.mainCallCenter .primaryButton {
    margin-top: 2rem;
}

.channelItem {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.channelInfo {
    font-size: 20px;
    font-weight: 600;
}

.faqSection {
    background-color: var(--terciaria);
    padding: 5rem 0;
    font-family: "Montserrat";
}

.faqSection h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.faqQuestions {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faqQuestions details {
    background-color: var(--destaque03);
    border: solid 1px var(--primaria);
    border-radius: 4px;
}

.faqQuestions summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
}

.faqQuestions summary::after {
    content: '+';
    font-size: 2rem;
    font-weight: 400;
    transition: transform 0.2s;
}

.faqQuestions details[open] summary::after {
    content: '−';
}

.faqQuestions details p {
    padding: 0 1.5rem 1rem 1.5rem;
    color: var(--primaria);
    font-size: 18px;
    font-weight: 500;
}