* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 8rem;    
    background-color: #2D3436;
}

header {
    width: 100%;
    height: 43rem;
    background-color: #DFE6E9;
    color: #2D3436;
}

.firstBanner {
    width: 100%;
    height: 57rem;
}

.secondBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleHeader {
    font-size: 52px;
    font-family: "Montserrat";
    font-weight: 600;
    max-width: 35%;
}

.titleBanner {
    margin-top: 4.5rem;
    font-size: 48px;
    font-family: "Montserrat";
    color: #2D3436;
}

.textHeaderBanner {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 400;
}

.textSecondBanner {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 400;
    max-width: 85%;
}

.subTextBanner {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 300;
}

.button {
    padding: 0.5rem 4.5rem 0.5rem 4.5rem;
    max-width: 355px;
    max-height: 55px;
    border-radius: 0.5rem;
    background-color: #354D5C;
    color: #FBFAF8;
    font-size: 26px;
    font-family: "Montserrat";
}

.productLine {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bigProductCard {
    border-radius: 2px;
    width: 27rem;
    height: 42rem;
    background-color: #DFE6E9;
}

.bigProductCard figure {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: inset 0 0 6px #2D3436;
    width: 27rem;
    height: 42rem;
}

.bigProductCard img {
    align-self: center;
    padding-bottom: 4rem;
    max-width: 33rem;
    max-height: 33rem;
}

.bigProductCard figcaption {
    padding: 1rem;
    font-family: "Montserrat";
    color: #354D5C;
    font-size: 26px;
}


.categoryLine {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.categoryLine figure {
    display: inline-block;
    position: relative;
    background-color: #2D3436;
    max-width: 325px;
    max-height: 700px;
    border-radius: 25px;    
}

.categoryLine figure {
    max-width: 334px;
    max-height: 700px;
}

.categoryLine img{
    max-width: 325px;
    max-height: 700px;
    border-radius: 25px;
    transition: 1s;
    opacity: 55%;
}

.categoryLine img:hover {
    max-width: 334px;
    max-height: 700px;
}

.categoryLine figcaption {
    position: absolute;
    top: 50%;
    transform: rotate(270deg);
    font-size: 52px;
    font-family: "Montserrat";
    color: #FBFAF8;
    width: 500;

}
